<div class="pad-half space-between font-medium">
    Wanna share your facts? 

    <div>
        <a href="/user/login">
            <button class="primary-color font-medium">Login in!</button>
        </a>

        <a href="/user/create">
            <button class="primary-color font-medium">Sign Up!</button>
        </a>
    </div>
</div>