<form class="s-75 primary-color fit pad-1" <%if(fact != null){%>
                                    action="/editor/edit/<%=fact.id%>"
                                 <%}else{%>
                                    action="/editor/add"
                                 <%}%> enctype="multipart/form-data" method="POST">
    <legend class="center-flex p-100">
        <h1 class="font-x-large"><%if(fact != null){%>
                                        Edit  
                                 <%}else{%> 
                                        Add
                                 <%}%> a Fact!</h1>

        <div class="m-1 center">
            <label for="title">Fact Title</label>
            <input type="text" id="title" name="title" placeholder="Enter a Title!" <% if(fact != null){ %> 
                                                                                        value="<%=fact.note_title%>"
                                                                                    <%}%>>
        </div>

        <div class="m-1 center">
            <label for="Content">Fact Content</label>
            <textarea id="content" name="content" placeholder="Fact Content!" rows="8" cols="80"> <% if(fact != null){ %><%=fact.note_content%><%}%></textarea>
        </div>

        <div class="m-1 center">
            <label for="tags">Fact Tags</label>
            <p class="font-medium dull">(Seperate tags with a ,)</p>
            <input type="text" id="tags" name="tags" placeholder="Enter Fact Tags" <% if(fact != null){ %>
                                                                                        value="<%=fact.note_tags.join(", ")%>"
                                                                                   <%}%>>
        </div>

        <div class="m-1 center">
            <label for="color">Fact Color</label> 
            <div class="grid pad-1" id="Color-Select">
                <input class="c25" type="radio" id="color" name="color" value="25">
                <input class="c26" type="radio" id="color" name="color" value="26">
                <input class="c27" type="radio" id="color" name="color" value="27">
                <input class="c28" type="radio" id="color" name="color" value="28">
                <input class="c29" type="radio" id="color" name="color" value="29">
                <input class="c30" type="radio" id="color" name="color" value="30">
                
                <input class="c7" type="radio" id="color" name="color" value="7">
                <input class="c8" type="radio" id="color" name="color" value="8">
                <input class="c9" type="radio" id="color" name="color" value="9">
                <input class="c10" type="radio" id="color" name="color" value="10">
                <input class="c11" type="radio" id="color" name="color" value="11">
                <input class="c12" type="radio" id="color" name="color" value="12">
                
                <input class="c1" type="radio" id="color" name="color" value="1">
                <input class="c2" type="radio" id="color" name="color" value="2">
                <input class="c3" type="radio" id="color" name="color" value="3">
                <input class="c4" type="radio" id="color" name="color" value="4">
                <input class="c5" type="radio" id="color" name="color" value="5" checked="checked">
                <input class="c6" type="radio" id="color" name="color" value="6">

                <input class="c13" type="radio" id="color" name="color" value="13">
                <input class="c14" type="radio" id="color" name="color" value="14">
                <input class="c15" type="radio" id="color" name="color" value="15">
                <input class="c16" type="radio" id="color" name="color" value="16">
                <input class="c17" type="radio" id="color" name="color" value="17">
                <input class="c18" type="radio" id="color" name="color" value="18">

                <input class="c19" type="radio" id="color" name="color" value="19">
                <input class="c20" type="radio" id="color" name="color" value="20">
                <input class="c21" type="radio" id="color" name="color" value="21">
                <input class="c22" type="radio" id="color" name="color" value="22">
                <input class="c23" type="radio" id="color" name="color" value="23">
                <input class="c24" type="radio" id="color" name="color" value="24">
            </div>
           
        </div>


        <button type="submit" class="hover-scale font-large secondary-color flex-end pad-1" id="add-button"><%if(fact != null){%>
                                                                                                        Edit  
                                                                                                      <%}else{%> 
                                                                                                        Add
                                                                                                      <%}%> Fact!</button>
    </legend>
</form>