<form class="m-1" action="/user/find" method="post">
    <input class="primary-color" type="text" name="user" placeholder="Find Farmer! 🦊">
    <button class="primary-color" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>