<form class="m-1 no-shadow search" action="/user/find" method="post">
    <input class="secondary-color" type="text" name="user" placeholder="Find Farm! 🦊">
    <button class="secondary-color" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>