<%-include("partials/header.ejs")%>

<body>
    <div class="center s-100">
        <%if(fact != null){%>
            <%-include("partials/noteForm.ejs", {fact: fact})%>
        <%}else{%>
            <%-include("partials/noteForm.ejs")%>
        <%}%>
        
    </div>    
</body>
</html>