<%-include("partials/header.ejs")%>
<body>
    <div class="center">
        <button class="primary-color font-large m-1">
            <a href="/notes/create-1">Add Fact!</a>
        </button>
    </div>


    <div class="flex">

        <% notes.forEach(x => { %>
            <%- include('partials/noteCard.ejs', {note: x}); %>
        <%})%>

    </div>

    <script src="/test.js"></script>
</body>
</html>