<%-include("partials/header.ejs")%>
<body>

    <div class="s-100 center">
        <div class="center">
            <%-include("./partials/profileSearch.ejs")%>
            <p class="font-x-large">Farmer not Found...</p>
            <p class="font-large">Search for a diffrent username, im sure you'll find their farm soon 🌾</p>
        </div>
    </div>

</body>
</html>