:root{
    --background-color: #1E1E24;

    --primary-background-color: #131316;

    --font-dull: gray;

    --font-x-large: 2vmax;
    --font-large: 1.5vmax;
    --font-medium: 1vmax;
    --font-small: .5vmax;

    --rounded: 1vmax; 

    --shadow: #000000;

    --grabage-highlight: #E56B6F;
    --edit-highlight: #FFBA49;

    --error-color: #E56B6F;
    --error-background: #E56B6F55;

    --box-shadow: var(--shadow) 10px 10px 0px;
}

@media screen and (max-width: 600px){
    :root{
        --font-x-large: 3vmax;
        --font-large: 2.5vmax;
        --font-medium: 2vmax;
        --fonr-small: 1vmax;
    }
}

*{
    color: white;
    font-family: 'Dosis', sans-serif;
    text-shadow: 3px 3px 0px var(--background-color);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    max-width: 100%;

   
}

body{
    background-color: var(--background-color);

    min-width: 100vw;
    min-height: 100vh;

    overflow-x: hidden;
}

textarea{
    resize: none;

    font-size: var(--font-large);

    max-width: 75%;
}

input, textarea{
    font-size: var(--font-medium);
    padding: 1vmin;
    text-align: center;
    background-color: var(--background-color);
    border: none;

    border-radius: 1vmax;
    box-shadow: var(--box-shadow);
    text-shadow: none;

    -webkit-box-shadow: var(--box-shadow);
}

input{
    transition: .1s;
}

input:hover{
    scale: 1.1;
}


label{
    font-size: var(--font-large);
}

button{
    border-radius: var(--rounded);
    padding: .75vmax;
    border: none;

    transition: .1s;
    box-shadow: var(--box-shadow);
}

button:hover{
    scale: 1.1;
}

form{
    border-radius: var(--rounded);
    box-shadow: var(--box-shadow);
    min-width: fit-content;

    text-align: -webkit-center;
}

header{
    box-shadow: var(--shadow) 0px 10px 15px;
    z-index: 10;
}

h1{
    border-radius: var(--rounded);
    box-shadow: var(--box-shadow);
}

footer{
  position: absolute;
  bottom: -10vmax;

  width: 100%;
}

.sticky{
    position: sticky;
    top: 0;

    z-index: 10;
}

.lock{
    overflow-y: hidden;
}

.lock-all{
    overflow-y: hidden;
    overflow-x: hidden;
}

.primary-color{
    background-color:  var(--primary-background-color);
}

.secondary-color{
    background-color: var(--background-color);
}

.font-x-large{
    font-size: var(--font-x-large);
}

.font-large{
    font-size: var(--font-large);
}

.font-medium{
    font-size: var(--font-medium);
}

.dull{
    color: var(--font-dull);
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vmax;
}

.center{
    display: grid;
    place-items: center;
}

.center-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 6;

    justify-content: center;
    align-items: center;
}

.flex-end{
    justify-self: end;
}

.s-75{
    width: 75vw;
    height: 75vh;
}

.w-25{
    width: 25vw;
}

.s-100{
    width: 100vw;
    height: 100vh;
}

.m-1{
    margin: 1vmax;
}

.m-1-down{
    margin-bottom: 1vmax;
}

.p-100{
    width: 100%;
    height: 100%;
}

.fit{
    height: fit-content;
}

.pad-1{
    padding: 1vmax;
}

.pad-1-inline{
    padding-inline: 1vmax;
}

.pad-half{
    padding: .5vmax;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error{
    color: var(--error-color);
    background-color: var(--error-background);
    padding: .5vmax;
    border-radius: var(--rounded);
}

.no-shadow{
    box-shadow: none;
}

.block{
    box-shadow: var(--box-shadow);
    border-radius: var(--rounded);
}


.card{
    background-color: var(--primary-background-color);

    width: 25vw;
    height: 20vw;

    min-width: 400px;
    min-height: 250px;

    display: flex;
    flex-direction: column;

    border-radius: var(--rounded);

    box-shadow: var(--box-shadow);

    transition: .1s;
}

.card:hover{
    scale: 1.05;
}

.card > .header{
    padding: 1vmax;
    min-height: fit-content;

    font-size: var(--font-large);

    text-align: center;

   border-radius: var(--rounded);
   scale: 1.02;

   box-shadow: var(--box-shadow);
}

.card > .content{
    font-size: var(--font-medium);
    text-align: center;
    flex-grow: 1;
}

.card > .footer{
    font-size: var(--font-small);
    padding: .5vmax;
    color: var(--font-dull);
}

.card > .footer button{
    background-color: var(--background-color);
    padding-inline: .5vmax;
    padding-block: .25vmax;
}

.card > .footer #delete:hover{
    background-color: var(--grabage-highlight);
}
.card > .footer #edit:hover{
    background-color: var(--edit-highlight);
}

.search{
 display: flex;
 flex-grow: 1;
}

.search > input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}

.search > button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    z-index: 5;
}

.hero{
    text-decoration: underline;
    transition: .1s;
}

.hero:hover{
    scale: 1.1;
}

#page-layout{
   position: relative;
   min-height: 100Vh;
}





